<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{161,170}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{161,170}}</string>
                <key>sourceSize</key>
                <string>{169,174}</string>
            </dict>
            <key>baby_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,196}}</string>
                <key>sourceSize</key>
                <string>{148,196}</string>
            </dict>
            <key>baby_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,2},{154,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,166}}</string>
                <key>sourceSize</key>
                <string>{154,166}</string>
            </dict>
            <key>baby_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{131,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,180}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>baby_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{138,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>baby_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{147,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,167}}</string>
                <key>sourceSize</key>
                <string>{147,167}</string>
            </dict>
            <key>baby_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{150,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,188}}</string>
                <key>sourceSize</key>
                <string>{150,188}</string>
            </dict>
            <key>baby_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{150,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,171}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>baby_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{141,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,183}}</string>
                <key>sourceSize</key>
                <string>{141,183}</string>
            </dict>
            <key>baby_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{147,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,191}}</string>
                <key>sourceSize</key>
                <string>{147,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baby.png</string>
            <key>size</key>
            <string>{1489,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:870903483853c0d432613bff943dbbeb$</string>
            <key>textureFileName</key>
            <string>baby.png</string>
        </dict>
    </dict>
</plist>
