<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>fruit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,172},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>fruit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,172},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>fruit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,172},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>fruit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,172},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,58}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>fruit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,177},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,58}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>fruit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,172},{90,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>fruit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>fruit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,177},{97,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,64}}</string>
                <key>sourceSize</key>
                <string>{101,68}</string>
            </dict>
            <key>fruit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,172},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>fruit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,172},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,74}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>slotBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,173}}</string>
                <key>sourceSize</key>
                <string>{161,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{793,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93a07260a5191ce30b7c80b2ac22613a$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
